<!doctype html>
<html>
  <head>
    <title>Project 2 Test</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  </head>
  <body>
    <nav>
      <div class='nav-wrapper white'>
        <a href='#' class='brand-logo red-text'>GAphy</a>
        <button data-target='modal-create' class='btn modal-trigger right grey'>+</button>
      </div>
    </nav>
    <div class ='body'>{{{body}}}</div>
  </body>
</html>
