<!doctype html>
<html>
  <head>
    <title>Project 2 Test</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  </head>
  <body>

    <nav>
    <div class="nav-wrapper">
      <a href="/#" class="brand-logo ">Chris' Tasks</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/tasks">Tasks List</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </nav>

    <div class ='body'>{{{body}}}</div>

  </body>
</html>
