{{task.title}}

<h2> Change Task </h2>
<form action='/tasks/{{task.title}}?_method=put' method='post'>
  <input type='text' name='task[title]' value='{{task.title}}'>
  <input type='submit' value='Update'>
</form>
